<mat-grid-list cols="9" rowHeight="3:1" xmlns:https="http://www.w3.org/1999/xhtml">
  <mat-grid-tile *ngIf="breed" colspan="3" rowspan="2"><h1>{{ formatBreedName() }}</h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="2"></mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="8"></mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="8">
    <mat-card>
      <mat-card-content *ngIf="breed">
        <img mat-card-image [src]="randomImg" alt="randomImg" style="max-width: 500px; max-height: 400px;">
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="8"></mat-grid-tile>
  <mat-grid-tile colspan="9" rowspan="2"></mat-grid-tile>
</mat-grid-list>
